<nav class="container-fluid  text-white left" data-aos="zoom-in-up">
  <a class="nav-link disable text-white" id="disable" routerLink="/" >Work</a>
  <a class="nav-link text-white"  routerLink="/about">About</a>
</nav>

  
<div class="container low-width">
  
  <div class="row">
    <div class="col-md-6">
  <img src="../assets/IMG_20180531_161231.jpg" alt="My cute Picture" class="img-thumbnail flex" height="320px" width="300px" data-aos="flip-up">
  <img src="../assets/IMG_20180531_161231.jpg" alt="" class="short flex" data-aos="flip-up">
  <h1 id="light-text" data-aos="fade-left">Killing with that cute Smile 😉 </h1>
</div>
<div class="col-md-6" data-aos="fade-left">
<h1>Hey I’m Dinesh 👋 people call me Honey 🍯 sometimes even “DD”</h1>
<h2>I am a Full Stack Web Developer from Delhi, the national capital of India in the bottom of Himalyas, I've been lucky enough to work alongside a diverse cast of engineers, designers and product people.  </h2> 
</div>
</div>

<div class="row">
<div class="col-lg-6">
<h2 data-aos="fade-up">
  In that time, I’ve picked up a few things which have shaped my beliefs around building great products.
  What many of them really boil down to is that problem space immersion, an evolving understanding of people needs, and execution beyond the local maximum are what separate great products from mediocre ones.
</h2>
</div>
<div class="col-lg-6">
<h2 data-aos="fade-up">I spend my time building sideprojects, listening to podcasts, reading books and supporting Manchester United.
  If you’d like to chat about building product, podcasts or design do get in touch at <a href="" (click)="copyEmail()"> dinesh.dadwal999@gmail.com </a> or reach out to me on instagram <a href="">@dinesh_dadwal</a>
</h2>
</div>
</div>
</div>

<!-- progress Bars -->
<div class="container scroll " id="scroll" >
  <h1 data-aos="fade-right">Skill Set</h1>
  
  <div class="bar front expert" data-skill="Javascript" data-aos="fade-left"></div>
  <div class="bar front expert" data-skill="Python" data-aos="fade-left"></div>
  <div class="bar front expert" data-skill="Java" data-aos="fade-left"></div>
  <div class="bar front expert" data-skill="HTML5" data-aos="fade-left"></div>
  <div class="bar front expert" data-skill="CSS3" data-aos="fade-right"></div>
  <div class="bar front expert" data-skill="Angular" data-aos="fade-right"></div>
  <div class="bar front expert" data-skill="MongoDb" data-aos="fade-right"></div>
  <div class="bar front expert" data-skill="My SQL" data-aos="fade-right"></div>
  <div class="bar front expert" data-skill="Nodejs" data-aos="fade-left"></div>
  <div class="bar front expert" data-skill="Spring Boot" data-aos="fade-left"></div>
  <div class="bar front expert" data-skill="Microsoft Office 365" data-aos="fade-right"></div>
  <div class="bar front expert" data-skill="Firebase" data-aos="fade-right"></div>
  <div class="bar front expert" data-skill="Photoshop" data-aos="fade-left"></div>
  <div class="bar front expert" data-skill="AfterEffects" data-aos="fade-right"></div>
  <div class="bar front expert" data-skill="Adobe XD" data-aos="fade-left"></div>
</div>
<div class="jumbotron container text-white">
  
  <p class="lead">Need to see where I've worked?💻<a href="../assets/Latest-CV.pdf" download="../assets/Latest-CV.pdf"> Download my resume</a> or check my <a href="https://www.linkedin.com/in/dinesh-dadwal-083211145/"> Linkedin profile </a>🔗</p>
</div>

<app-header></app-header>