.nav-link{
   margin-left: auto;
   margin-right: auto;
   display: inline-block;
   padding: 25px;
   text-align: center;
   font-size: 35px;
  
   
}
.disable{
   opacity: 0.6;
}

/* Special Profile*/
:root{
   --theme-color: #39FF14;
}
body{
   height:100vh;
   background-color : #1B1B27;
}
 body,.profile , .social{
   display: flex;
   justify-content: center;
   align-items: center;
}
.profile{
   width: 240px;
   height: 240px;
   border-radius: 50%;
   padding: 50px;
   transition: 0.5s;
   z-index: 0;
   font-family:'Montserrat', sans-serif;
}
.social{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   position: absolute;
   z-index: 0;
   transform: translateY(0px);
   transition: 0.5s;
   background-color: aliceblue;
   opacity: 0;
}
.dp{
   max-width: 100%;
   max-height: 100%;
   min-width: 50%;
   border-radius: 50%;
   box-shadow: 0 0 20px cyan;
}
.profile:hover{
   width: 270px;
   height: 270px;
   transition: 0.5s ease-in-out;
}
.profile:hover .social{
   transition: 0.5s;
   box-shadow: 0 0 20px #39FF14;
   opacity: 1;
}
.profile:hover .social:nth-child(1){
   transform: rotate(-60deg) translateY(-150px);
}
.profile:hover .social:nth-child(2){
   transition-delay: 0.1s;
   transform: rotate(-30deg) translateY(-150px);
   opacity: 1;
}
.profile:hover .social:nth-child(3){
   transition-delay: 0.1s;
   transform: rotate(0deg) translateY(-150px);
   opacity: 1;
}
.profile:hover .social:nth-child(4){
   transition-delay: 0.1s;
   transform: rotate(30deg) translateY(-150px);
   opacity: 1;
  
}
.profile:hover .social:nth-child(5){
   transition-delay: 0.1s;
   transform: rotate(60deg) translateY(-150px);
   opacity: 1;
}
i{
   transition: 0.5s;
   font-size: 20px;
}
.social:hover i{
   transform: rotate(360deg);
   color: blue; 
}
a{
   
   font-weight: bolder;
}
/* text starts */
.intro{
   opacity: 1;
   color : white;
   text-align: center;
   font-family:'Montserrat', sans-serif;
}
app-header{
   margin-top: 20px;
   font-size: larger;
   font-weight: bolder;
   font-family:'Montserrat', sans-serif;
}
h1{
   color: white;
   text-align: center;
   font-size: 40px;
   padding: 15px;
   font-family:'Montserrat', sans-serif;
}
h2{
   font-size: 25px;
   padding: 8px;
   color: white;
   font-family:'Montserrat', sans-serif;
}
// .project{
//    background-image: url(/assets/undraw_project_completed_w0oq.svg);
//    background-size: 40em; 
// }
.media{
   background-color: #365061;
   font-size: 20px;
   padding: 30px;
   color: white;
   border-radius: 1%;
}
p{
   padding:10px;
   font-family:'Montserrat', sans-serif;
}
@media screen and (max-width: 544px) {
   .media{
     display: none;
   }
 }
 @media screen and (min-width: 543px) {
   .card{
     display: none;
   }
   
 }
 @media screen and (max-width: 543px){
 h1{
   font-size: 20px;
   text-align: center;
 }
 h2{
   font-size: 17px;
   text-align: center;
 }
 .nav-link{
   font-size: 20px;

 }
}

 .card{
    left: calc((100% - 200px)/2);
    margin-bottom: 15px;
    background-color: #365061;
    color: white;
 }
 h5{
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 5%;
 }
 .container-fluid{
    background-color: #1B1B27;
 }
 .container{
   background-color: #1B1B27;

 }
 .card{
    p{
       font-size: x-small;
    }
 }
//  tooltip

@media screen and (max-width: 544px) {
  .profile{
     margin-top: 10px;
  }
  
   .social{
     opacity: 0.7;
     margin-top: 10px;
     a{
        color: black;
     }
   }
    .social{
      transition: 0.5s;
      box-shadow: 0 0 20px #39FF14;
      opacity: 0.7;
   }
    .social:nth-child(1){
      transform: rotate(-60deg) translateY(-110px);
   }
    .social:nth-child(2){
      transition-delay: 0.1s;
      transform: rotate(-30deg) translateY(-110px);
      opacity: 0.7;
   }
    .social:nth-child(3){
      transition-delay: 0.1s;
      transform: rotate(0deg) translateY(-110px);
      opacity: 0.7;
   }
    .social:nth-child(4){
      transition-delay: 0.1s;
      transform: rotate(30deg) translateY(-110px);
      opacity: 0.7;
     
   }
    .social:nth-child(5){
      transition-delay: 0.1s;
      transform: rotate(60deg) translateY(-110px);
      opacity: 0.7;
   }
   app-header{
      margin-bottom: 10px;
   }
 }

 .col-lg-4{
    a{
       color: white;
    }
 }