<nav class="container-fluid  text-white " data-aos="zoom-in-up">
   <a class="nav-link text-white" routerLink="/">Work</a>
   <a class="nav-link disable text-white" routerLink="/about">About</a>

</nav>

<!-- Special Profile -->
<div class="container profile" data-aos="zoom-in-up">
   <div class="social">
      <a href="https://www.facebook.com/dinesh.dadwal.77"><i class="fab fa-facebook" aria-hidden="true"></i></a>
   </div>
   <div class="social">
      <a href="https://www.instagram.com/dinesh_dadwal/?hl=en"><i class="fab fa-instagram" aria-hidden="true"></i></a>
   </div>
   <div class="social">
      <a href="https://twitter.com/Dineshdadwal99"><i class="fab fa-twitter" aria-hidden="true"></i></a>
   </div>
   <div class="social">
      <a href="https://github.com/DineshDadwal"><i class="fab fa-github" aria-hidden="true"></i></a>
   </div>
   <div class="social">
      <a href="https://www.linkedin.com/in/dinesh-dadwal-083211145/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
   </div>
   <img src="../assets/dp.jpg" alt="profile picture" class="dp">
 </div>
 
 <div class="container" style="opacity: 1;">
   <div class="intro" data-aos="zoom-out">
    <h1>Dinesh Dadwal </h1>
    <h2>I am a Computer Science Student 💻,</h2>
    <h2>Full Stack Developer 👨‍🎓,</h2>
    <h2>Occasional Badminton Player 🏸</h2>
   </div>
 </div>
 <hr>
<div class="container project">
   <h1>Projects 💻</h1>
   <div class="media" data-aos="fade-down-left">
      <img src="../assets/folder.jpg" class="align-self-center mr-3" alt="..." width="120px" height="80px">
      <div class="media-body">
        <h2 class="mt-0">Project -1</h2>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. <a href="">Read More .. </a></p>
      </div>
    </div>
    <div class="media" data-aos="fade-down-right">
      <img src="../assets/folder.jpg" class="align-self-center mr-3" alt="..." width="120px" height="80px">
      <div class="media-body">
        <h2 class="mt-0">Project -1</h2>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. <a href="">Read More....</a></p>
      </div>
    </div>
    <div class="media" data-aos="fade-down-left">
      <img src="../assets/folder.jpg" class="align-self-center mr-3" alt="..." width="120px" height="80px">
      <div class="media-body">
        <h2 class="mt-0">Project -1</h2>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. <a href="">Read More .. </a></p>
      </div>
    </div>
    <div class="card" data-aos="fade-down-left" style="width: 200px;">
      <img src="../assets/folder.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     
      </div>
    </div>
    <div class="card" data-aos="fade-down-right" style="width: 200px;">
      <img src="../assets/folder.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
      </div>
    </div>
    <div class="card" data-aos="fade-down-left" style="width: 200px;">
      <img src="../assets/folder.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
      </div>
    </div>
</div>
<hr>
<div class="container">
   <h1>Games 🎮</h1>
   <div class="media" data-aos="fade-down-right">
      <img src="../assets/folder.jpg" class="align-self-center mr-3" alt="..." width="120px" height="80px">
      <div class="media-body">
        <h2 class="mt-0">Project -1</h2>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. <a href="">Read More .. </a></p>
      </div>
    </div>
    <div class="media" data-aos="fade-down-left">
      <img src="../assets/folder.jpg" class="align-self-center mr-3" alt="..." width="120px" height="80px">
      <div class="media-body">
        <h2 class="mt-0">Project -1</h2>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. <a href="">Read More .. </a></p>
      </div>
    </div>
    <div class="card" data-aos="fade-down-right" style="width: 200px;">
      <img src="../assets/folder.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Game 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
      </div>
    </div>
    <div class="card" data-aos="fade-down-left" style="width: 200px;">
      <img src="../assets/folder.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Game 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
      </div>
    </div>
</div>
 <app-header></app-header>
 